<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  display: grid;
  grid-template-rows: 48px 1fr 64px;
}

button {
  background-color: #333;
  padding: 16px;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #555;
}

header {
  background-color: #3333;
}

main {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer {
  background-color: #3333;
  display: flex;
  justify-content: center;
  align-items: center;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: burlywood;
    
    display: grid;
    grid-template-rows: 48px 1fr 64px;
}

button {
    background-color: blue;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: aliceblue;
    border-radius: 5px;
}

header {
    background-color: azure;
}

main {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
>>>>>>> 50b09c207c8be947b5b0b7a84b3df17eeedc3de4
